* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* overflow-x: hidden; */
}
.header {
  background-color: rgba(187, 186, 185, 0.253);
  background-color: white;
}

.nav {
  padding: 0rem 4rem;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.nav-box {
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-links ul {
  list-style: none;
  justify-content: center;

  display: flex;
}

.nav-profile p {
  display: flex;

  justify-content: end;
}

@media only screen and (min-width: 768px) and (max-width: 1920px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 1vw;
  }

  .nav-box {
    font-size: 1vw;

    align-items: center;
    justify-content: center;
    display: flex;
  }

  .nav-logo {
    font-weight: bold;
    font-size: 2vw;
    padding: 1vw;
    color: rgba(24, 24, 24, 0.774);
  }

  .nav-links ul {
    gap: 2.5vw;
    font-size: 1vw;
    color: rgba(24, 24, 24, 0.438);
    display: flex;
  }

  .nav-links ul li {
    cursor: pointer;
  }
  .nav-links ul li a {
    text-decoration: none;
    color: rgba(24, 24, 24, 0.438);
  }

  .nav-links ul li::after {
    content: "";
    width: 220vw;
    height: 110vw;
    background-color: brown;
  }

  .nav-profile p {
    border-radius: 6px;
    margin: 7% 0;
    padding: 1vw;
    font-weight: 200;
    font-size: 1.2vw;
    background-color: rgba(116, 239, 243, 0.308);
  }

  .middle-header {
    padding: 0rem 2vw;
    margin: 5vw 0vw;
    display: flex;

    justify-content: space-between;
  }

  .booking-text h3 {
    padding: 2vw 5vw;
    color: rgba(0, 0, 0, 0.753);
    padding-bottom: 0.4vw;
    font-size: 3vw;
  }

  .booking-text h3 span {
    color: rgba(13, 116, 233, 0.808);
  }

  .booking-text p {
    color: rgba(128, 128, 128, 0.582);
    padding: 1.5vw 5vw;

    font-size: 1.4vw;
  }

  .booking-text {
    width: 50vw;
  }

  .booking-text button {
    background-color: rgba(13, 116, 233, 0.808);
    border: none;
    width: 22vw;
    font-size: 1vw;
    padding: 1.3vw 1vw;
    position: relative;
    left: 5vw;
    border-radius: 1vw;
    color: aliceblue;
    cursor: pointer;
  }

  .booking-text button ion-icon {
    margin-right: 0.2vw;
    position: relative;
    top: 0.1vw;
  }

  .booking-img {
    overflow: hidden;

    width: 50vw;
  }

  .booking-img img {
    height: 30vw;

    display: flex;
    margin: auto;
  }

  .end-header {
    background-color: rgba(13, 116, 233, 0.808);
    padding: 2.5vw 3vw;
    margin: 0vw 0vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .end-header-text h5 {
    text-align: center;

    font-size: 2.8vw;
    width: 31vw;
  }

  .end-header-text2 {
    display: flex;

    font-size: 2.8vw;
    width: 50vw;
  }

  .end-header-text2 div {
    margin: auto;
  }

  .end-header-text2 p {
    color: rgba(34, 34, 34, 0.829);
    letter-spacing: 0.2vw;
    font-size: 1.6vw;
  }
  .Support-info-container {
    padding: 4vw;
    display: flex;
  }

  .Support-info-container div {
    background-color: rgb(218, 211, 203);
    margin: 2vw;
    border-radius: 2vw;
    border: 0.2vw solid gray;
  }

  .Support-info-container div img {
    height: 8vw;
    display: flex;
    margin: 1vw auto;
    padding-top: 1vw;
  }

  .Support-info-container div h3 {
    font-size: 1.5vw;
    text-align: center;
  }

  .Support-info-container div p {
    text-align: center;
    font-size: 0.9vw;
    padding: 1vw;
    color: rgba(0, 0, 0, 0.637);
  }
  .subscribe-section {
    background-color: rgba(13, 116, 233, 0.808);
    padding: 2vw 5vw;
    display: flex;
  }

  .subscribe-section h3 {
    display: flex;
    align-items: center;
    margin: 1vw;
    width: 30vw;

    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.733);
  }

  .subscribe-section div button {
    display: flex;

    padding: 1.5vw 7vw;
    font-size: 1.4vw;
  }

  .subscribe-section-input-box {
    display: flex;
    justify-content: space-between;
    width: 50vw;
  }

  .subscribe-section-input-box input:nth-child(1) {
    width: 20.5vw;
  }

  .subscribe-section-input-box input:nth-child(2) {
    width: 27.5vw;
  }

  .subscribe-section-input-box input {
    padding: 1.5vw;
    margin: 1vw 0vw;
    background-color: rgba(255, 255, 255, 0.281);
    border: none;
  }
  .container {
    height: 90vh;
    width: 100vw;
  }
  .error-page {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .error-page a {
    text-decoration: none;
    color: #555;
  }
  .error-code {
    font-size: 120px;
    font-weight: bold;
    color: #2563eb;
  }

  .error-text {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .error-desc {
    color: #555;
    margin-bottom: 25px;
  }
}
